.deleteImage {
    height: 20px;
    width: 20px;
    background-color: #bbbbbb;
    position: absolute !important;
    top: 10px;
    left: 180px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-radius: 3px;
}

.download-link {
    display: inline-block;
}

.spec {
    display: flex;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}